name: Cypress Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          start: npx http-server . -p 8080
          wait-on: "http://localhost:8080"
          browser: chrome
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
