name: Cypress Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          # Aqui não usamos 'start' nem 'wait-on' para arquivos estáticos simples
          browser: chrome
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}

      - name: Notify Discord
        if: always()
        run: |
          curl -H "Content-Type: application/json" \
          -d "{\"content\": \"Projeto 01: Testes finalizados. Status: ${{ job.status }}\"}" \
          ${{ secrets.DISCORD_WEBHOOK }}
