name: Cypress Tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: npm install
          start: npx http-server . -p 8080
          wait-on: "http://localhost:8080"

      - name: Notify Discord
        if: always()
        run: |
          curl -H "Content-Type: application/json" \
          -d "{\"content\": \"Projeto 01: Testes finalizados. Status: ${{ job.status }}\"}" \
          ${{ secrets.DISCORD_WEBHOOK }}
